MvcInternationalization/.vs/config/applicationhost.config
MvcInternationalization/.vs/MvcInternationalization/v14/.suo
MvcInternationalization/MvcInternationalization/MvcInternationalization.csproj.user
MvcInternationalization/MvcInternationalization/bin/
MvcInternationalization/MvcInternationalization/obj/
MvcInternationalization/packages/
MvcInternationalization/Resources/bin/
MvcInternationalization/Resources/obj/
